<% layout('./layouts/boilerplate') %>

<section id="refinancovanieBgHeroTwo" class="pt-[3.5rem] md:pb-[17rem] md:pt-20 text-white bg-secondary">
    <div class="md:grid grid-cols-2 w-full max-w-[92%] lg:max-w-[1620px] mx-auto">
        <div class="mt-auto">
            <h1 class="text-[2.25rem] md:text-[4rem] leading-[42px] md:leading-[72px] md:text-5xl font-normal md:max-w-[782px] md:w-full">
                Uzatvorte <span class="text-primary font-bold">bestpôžičku rýchlo a jednoducho online</span> a splňte si
                vaše
                želanie!</h1>
            <h2
                    class="font-normal text-[1.5rem] max-w-[220px] md:max-w-[100%] md:text-[2.5rem] md:leading-[2.75rem] my-[2rem] md:my-5 leading-tight">
                Jednoduchá cesta k peniazom</h2>
            <p
                    class="md:w-full md:max-w-[469px] text-[1rem] leaing-[20px] md:text-[1.25rem] md:leading-[26px] mb-2 font-light">
                Bestpôžička ti pomôže dofinancovať hypotéku až do 100% hodnoty nehnuteľnosti.
            </p>
            <a href="#ref-top-log" id="dofinancovanieHeroCta"
               class="text-sm md:text-[1.25rem] md:leading-[43px] hidden md:block">Zistiť viac</a>
        </div>
        <div>
            <div id="heroBg" class="flex flex-col mt-[3.5rem] md:mt-0 pb-[15rem] md:pb-0 md:mr-[5rem]">
                <div class="flex md:pt-9 relative justify-end">
                    <div class="mb:auto md:mt-auto w-full md:max-w-[270px]">
                        <h4 class="text-2xl md:text-[36px] md:leading-[40px]">Adrián Kudláč</h4>
                        <span class="text-sm md:text-[18px] md:leading-[24px]">
                            Zodpovený za poskytovanie <span class="text-primary block">dofinancovania hypoték</span>
                        </span>
                    </div>
                    <div id="dofinancovanie-hero-img" class="absolute md:static">
                        <img src="/images/adrian-bg-y.png" alt="" class="hidden md:block md:w-full md:max-w-[400px]">
                        <img src="/images/mobile/dofinancovanie-hero-img.png" alt="" class="block md:hidden">
                    </div>

                </div>
            </div>
        </div>
        <div id="ctaWrapper" class="block md:hidden">
            <a href="#home-card-section" class="text-sm">
                Zistiť viac
                <img src="/images/mobile/mobile-hero-cta-arrow.svg" alt="">
            </a>
        </div>
    </div>

</section>
<div class="hidden md:block w-full relative z-10 md:-translate-y-1/2">
    <div id="ReviewsWrapper" class="ReviewsWrapper">
        <div id="ReviewsWrappered"></div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person12.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Marián K.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Rýchle a seriózne jednanie. Chválim ochotu
                                obchodníka.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person9.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Stanislav Č.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Všetko OK.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person7.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/4:5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Daniel B.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Jednoduchý formulár, zmluva mi prišla poštou, peniaze už
                                mám na účte. Ďakujem</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person5.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/4:5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Oldrich B.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Zmluva bola rýchlo schválená vo výške ktorú som
                                potreboval.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person3.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">František K.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Telefonicky mi odporučili refinanc, skvelá voľba.
                                Ďakujem za odporúčanie</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person2.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Jozef I.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Prvá stránka kde sa mi podarilo vybaviť pôžičku.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person1.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Klaudia R.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Pôžička schválená, dobrá voľba.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person6.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Jaroslava B.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Pokazil sa nám kotol, peniaze sme vybavili jednoducho na
                                tejto stránke. Ďakujeme</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person8.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Anna G.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Prvý krát som požiadala o pôžičku na webe, a vyšlo to.
                                Super skúsenosť, odporúčam. Páni boli v telefóne veľmi ochotný
                                a poradili.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person10.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/4:5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Gabriela B.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">O pôžičku som požiadala najskôr ja, následne manžel,
                                obom nám pôžičku schválili.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person11.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Viera T.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Vypísala som všetky kolónky, a v priebehu dňa mi prišla
                                odpoveď. Následne po podpise zmluvy mi poslali peniaze. Nikam som nemusela
                                chodiť.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/reviews/person13.jpg" alt="" class="w-12 rounded-[50%]">
                        <div class="ml-5">
                            <img src="/images/icons/5stars.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Zuzana M.</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Určite odporúčam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-[2rem] md:hidden">
    <%- include('./partials/swiper-section') %>
</div>

<!-- <div id="ref-top-long" class="bg-secondary hidden md:block"></div> -->
<div class="mt-28">
    <%- include('./partials/offer-dofinancovanie') %>
</div>


<%- include('./partials/benefits') %>
<div class="mb-28">
    <%- include('./partials/calcAd') %>
</div>
<%- include('./partials/products') %>

<%- include('./partials/reviews') %>

<%- include('./partials/calcAd') %>

<%- include('./partials/faq') %>

<section id="dofinancovanie-form" class="flex">
<!--    <div id="form-left" class="hidden md:block"></div>-->
    <div id="form-content" class="container flex justify-between items-center flex-col md:flex-row mx-auto">
        <div class="w-full mb-[13rem] md:w-1/2 flex relative z-22">
            <div>
                <h2 class="text-[2.5rem] text-center leading-[2.75rem] w-full md:w-full md:max-w-[434px] mb-12 md:text-[65px] md:leading-[72px] md:text-left">
                    Požiadajte o ponuku</h2>
                <h3 class="text-[1.75rem] mb-3 md:text-[42px] md:leading-[47px]">Adrián Kudláč</h3>
                <p class="w-full md:w-full md:max-w-[325px] text-[18px] md:text-[22px] md:leading-[28px] md:mt-[1rem] md:mb-[1rem]">
                    Zodpovený za poskytovanie <span
                            class="text-dRed block">dofinancovania hypoték</span></p>
                <div class="flex items-center mt-3">
                    <img src="/images/contact-call.svg" alt="" class="w-8">
                    <a href="tel:+421918709028"><span class="ml-5 text-[1.5rem] md:text-[28px] md:leading-[32px]">+421 918 709 028</span></a>
                </div>
            </div>
            <div>
                <!-- <img src="/images/adrian.png" alt="" class="md:w-[14rem] md:right-16 hidden md:block"> -->
                <img src="/images/mobile-form-img.png" alt=""
                     class="hidden md:block absolute right-[100px] top-[-30px] z-20">
                <img src="/images/mobile/mobile-form-img.png" alt=""
                     class="md:hidden absolute right-[-40px] bottom-[-160px] z-20">
            </div>
        </div>
        <div class="w-full md:w-full md:max-w-[665px] bg-white custom-shadow-20 rounded-l-lg flex items-center dofinancovanie-form"
             id="contact-form">
            <div class="w-full p-[2.5rem] md:px-[3.5rem] md:py-[4rem]">
                <form action="/form" method="post" class="form">
                    <div class="mb-6">
                        <label for="name" class="label-default">Meno a priezvisko</label>
                        <div class="relative">
                            <input type="text" id="name"
                                   class="input-default placeholder-default validate"
                                   placeholder="Juraj Bestulič" name="name">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <div class="mb-6">
                        <label for="email" class="label-default">Email</label>
                        <div class="relative">
                            <input type="text" id="email"
                                   class="input-default placeholder-default validate"
                                   placeholder="juraj.bestulic@gmail.com" name="email">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <div class="mb-6">
                        <label for="phoneNumber" class="label-default">Telefónne číslo</label>
                        <div class="relative">
                            <input type="text" id="phoneNumber"
                                   class="input-default placeholder-default validate"
                                   placeholder="0901 234 567" name="phoneNumber">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <div class="mb-6">
                        <label class="md:text-[20px] md:leading-[23px] md:mb-[0.5rem] md:inline-block" for="interest">Mam
                            zaujem o:</label>
                        <select  id="interest"
                                class="input-default md:h-[52px] md:text-[20px] md:leading-[23px] bg-none" disabled>
                            <option value="option">Dofinancovanie Hypotéky</option>
                        </select>
                        <input type="hidden" value="Dofinancovanie Hypotéky" name="interest">
                    </div>
                    <div>
                        <label for="message" class="label-default">Správa</label>
                        <div class="relative">
                            <textarea name="message" id="message" class="input-default resize-none placeholder-default validate"
                                      placeholder="Dobrý deň,..." rows="3"></textarea>
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <span class=" text-[0.75rem] text-secondary/50 mt-[1rem]">S odoslaním formuláru súhlasím s podmienkami o <a class="underline decoration-solid" href="/dokumenty/Ochrana%20osobných%20údajov%20(GDPR).pdf">ochrane osobných údajov</a></span>
                    <div class="flex justify-center mt-[2.5rem]">
                        <button
                                class="bg-dRed text-white rounded-lg w-[251px] h-[54px] flex items-center justify-center font-bold text-[20px] form-send-button">
                            <span>Odoslať</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--    <div id="form-right" class="hidden md:block"></div>-->
</section>
