<% layout('./layouts/boilerplate') %>

<section id="dofinancovanie-header" class="pt-20 text-white bg-secondary">
    <div class="grid grid-cols-2">
        <div class="pl-[20%] my-auto">
            <h1 class="text-5xl leading-tight">
                Uzatvorte <span class="text-primary">bestpôžičku rýchlo a jednoducho online</span> a splňte si vaše
                želanie!
            </h1>
            <h2 class="text-2xl my-5">Jednoduchá cesta k peniazom</h2>
            <p class="w-1/2 text-sm mb-2">
                V bestpôžičke môžete požiadať o pôžičky v rozmedzí od 400 do 20 000 EUR.
            </p>
            <a href="" class="text-sm">Zistiť viac</a>
        </div>
        <div>
            <div class="flex flex-col relative">
                <div class="dofinancovanie-right-bg h-4/5 w-full"></div>
                <div class="flex">
                    <div class="w-1/4 mt-3">
                        <h4 class="text-2xl">Adrián Kudláč</h4>
                        <span class="text-sm">
                            Zodpovený za poskytovanie <span class="text-primary">dofinancovania hypoték</span>
                        </span>
                    </div>
                    <img src="/images/adrian-bg-y.png" alt="" class="absolute left-1/4 bottom-0 w-[22rem]">
                </div>
            </div>
        </div>
    </div>
</section>
<div id="ref-top-long" class="bg-secondary"></div>
<!--<div id="dof-white-bg" class="relative">-->
<!--    <div class="flex absolute" id="reviews-container">-->
<!--        <% for (let i = 0; i < 5; i++){ %>-->
<!--            <div class="w-80 drop-shadow-md bg-white mr-5 rounded-lg">-->
<!--                <div class="flex py-4 pl-5">-->
<!--                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">-->
<!--                    <div class="ml-5">-->
<!--                        <h4>* * * * *</h4>-->
<!--                        <h5 class="text-sm">Maria Illescas</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="pl-5 pb-5">-->
<!--                    <hr>-->
<!--                    <div class="w-4/5">-->
<!--                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius-->
<!--                            tortor-->
<!--                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam hendrerit-->
<!--                            molestie.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        <% } %>-->
<!--    </div>-->
<!--</div>-->
<div class="mt-28">
    <%- include('./partials/offer') %>
</div>


<%- include('./partials/benefits') %>
<div class="mb-28">
    <%- include('./partials/calcAd2') %>
</div>
<%- include('./partials/products') %>

<%- include('./partials/reviews') %>

<%- include('./partials/calcAd2') %>

<%- include('./partials/faq') %>

<section id="dofinancovanie-form" class="flex">
    <div id="form-left"></div>
    <div id="form-content" class="container flex justify-between items-center">
        <div class="w-1/2 flex relative">
            <div>
                <h2 class="text-5xl w-2/3 mb-12">Požiadajte o ponuku</h2>
                <h3 class="text-3xl mb-3">Adrián Kudláč</h3>
                <p class="w-1/2">Zodpovený za poskytovanie <span class="text-dRed">dofinancovania hypoték</span></p>
                <div class="flex items-center mt-3">
                    <img src="/images/contact-call.svg" alt="" class="w-8">
                    <span class="ml-5 text-xl">+421 918 709 028</span>
                </div>
            </div>
            <div>
                <img src="/images/adrian.png" alt="" class="md:w-[14rem] absolute bottom-0 md:right-16">
            </div>
        </div>
        <div class="w-1/2 bg-white drop-shadow-lg rounded-l-lg flex items-center" id="contact-form">
            <div class="w-full px-10 py-16">
                <form action="">
                    <div class="mb-7">
                        <label for="name">Meno a priezvisko</label>
                        <input type="text" id="name" placeholder="Juraj Testulič"
                               class="rounded-lg py-2 px-4 border-2 border-secondary block w-full">
                    </div>
                    <div class="mb-7">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="juraj.testulic@gmail.com"
                               class="rounded-lg py-2 px-4 border-2 border-secondary block w-full">
                    </div>
                    <div class="mb-7">
                        <label for="email">Mam zaujem o:</label>
                        <input type="text" id="email" value="Dofinancovanie Hypotéky"
                               class="rounded-lg py-2 px-4 border-2 border-secondary block w-full">
                    </div>
                    <div class="mb-12">
                        <label for="message">Sprava</label>
                        <textarea name="" id="message" class="w-full py-2 px-4 border-2 border-secondary rounded-lg"
                                  placeholder="Dobrý deň,"></textarea>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-dRed text-white px-14 py-2.5 rounded-md">Odoslať</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="form-right"></div>
</section>

