<% layout('./layouts/boilerplate') %>

<section id="dofinancovanie-header" class="pt-20 text-white bg-secondary">
    <div class="grid grid-cols-2">
        <div class="pl-[20%] mt-auto">
            <h1 class="text-5xl leading-tight">
                Uzatvorte <span class="text-primary">bestpôžičku rýchlo a jednoducho online</span> a splňte si vaše
                želanie!
            </h1>
            <h2 class="text-2xl my-5">Jednoduchá cesta k peniazom</h2>
            <p class="w-1/2 text-sm mb-2">
                V bestpôžičke môžete požiadať o pôžičky v rozmedzí od 400 do 20 000 EUR.
            </p>
            <a href="" class="text-sm">Zistiť viac</a>
        </div>
        <div>
            <div class="flex flex-col">
                <div class="flex pt-9">
                    <div class="mt-auto w-full max-w-[270px]">
                        <h4 class="text-2xl">Adrián Kudláč</h4>
                        <span class="text-sm">
                            Zodpovený za poskytovanie <span class="text-primary">dofinancovania hypoték</span>
                        </span>
                    </div>
                    <div id="dofinancovanie-hero-img" class=" w-full max-w-[41%]">
                        <img src="/images/adrian-bg-y.png" alt="" class=" ">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div id="ref-top-long" class="bg-secondary"></div>
<div class="mt-28">
    <%- include('./partials/offer') %>
</div>


<%- include('./partials/benefits') %>
<div class="mb-28">
    <%- include('./partials/calcAd2') %>
</div>
<%- include('./partials/products') %>

<%- include('./partials/reviews') %>

<%- include('./partials/calcAd2') %>

<%- include('./partials/faq') %>

<section id="dofinancovanie-form" class="flex">
    <div id="form-left"></div>
    <div id="form-content" class="container flex justify-between items-center">
        <div class="w-1/2 flex relative">
            <div>
                <h2 class="text-5xl w-2/3 mb-12">Požiadajte o ponuku</h2>
                <h3 class="text-3xl mb-3">Adrián Kudláč</h3>
                <p class="w-1/2">Zodpovený za poskytovanie <span class="text-dRed">dofinancovania hypoték</span></p>
                <div class="flex items-center mt-3">
                    <img src="/images/contact-call.svg" alt="" class="w-8">
                    <span class="ml-5 text-xl">+421 918 709 028</span>
                </div>
            </div>
            <div>
                <img src="/images/adrian.png" alt="" class="md:w-[14rem] absolute bottom-0 md:right-16">
            </div>
        </div>
        <div class="w-1/2 bg-white drop-shadow-lg rounded-l-lg flex items-center" id="contact-form">
            <div class="w-full px-10 py-16">
                <form action="/form" method="post">
                    <div class="mb-7">
                        <label for="name">Meno a priezvisko</label>
                        <input type="text" id="name" placeholder="Juraj Testulič"
                               class="input-default" name="name">
                    </div>
                    <div class="mb-7">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="juraj.testulic@gmail.com"
                               class="input-default" name="email">
                    </div>
                    <div class="mb-7">
                        <label for="phoneNumber">Telefónne číslo</label>
                        <input type="text" id="phoneNumber" placeholder="0901 234 567"
                               class="input-default" name="phoneNumber">
                    </div>
                    <div class="mb-7 ">
                        <label for="interest">Mam zaujem o:</label>
                        <select name="interest" id="interest" class="input-default bg-none" disabled>
                            <option value="option">Dofinancovanie Hypotéky</option>
                        </select>
                    </div>
                    <div class="mb-12">
                        <label for="message">Sprava</label>
                        <textarea name="message" id="message" class="input-default"
                                  placeholder="Dobrý deň,"></textarea>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-dRed text-white rounded-lg w-[251px] h-[54px] flex items-center justify-center font-bold text-[20px]">
                            <span>Odoslať</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="form-right"></div>
</section>

