<% layout('./layouts/boilerplate') %>


<%- include('./partials/calculator')%>

<%- include('./partials/offer')%>

<%- include('./partials/benefits')%>

<%- include('./partials/calcAd')%>

<%- include('./partials/aboutUs')%>

<%- include('./partials/ad-cards')%>

<section id="find-out-more-section-root" class="bg-secondary text-white">
    <div class="flex justify-center" id="find-out-more-section">
        <a href="/form/step-1" class="border border-primary rounded-lg px-10 py-2">Zistiť viac</a>
    </div>
</section>

<%- include('./partials/products')%>

<%- include('./partials/reviews')%>

<!--Pozadie na kalkulackach-->
<%- include('./partials/calcAd')%>

<%- include('./partials/faq')%>

<%- include('./partials/contactForm')%>
