<% layout('./layouts/boilerplate') %>


<%- include('./partials/calculator')%>

<!-- Slider main container -->
<%- include('./partials/swiper-section') %>

<%- include('./partials/offer')%>

<%- include('./partials/benefits')%>
<div class="translate-y-1/2 mt-[-50%] md:mt-[0] relative z-10">
    <%- include('./partials/calcAd')%>
</div>


<!-- <div class="pt-28 bg-secondary"> -->
<%- include('./partials/aboutUs')%>
<!-- </div> -->
<%- include('./partials/ad-cards')%>
<section class="bg-secondary text-white md:pb-[3.5rem]">
    <div class="flex justify-center" id="find-out-more-section">
        <a href="" class="border-2 border-primary rounded-lg h-[45px] w-[192px] flex justify-center items-center yellow-border-button">
            <span>Zistiť viac</span>
        </a>
    </div>
</section>

<%- include('./partials/products')%>

<%- include('./partials/reviews')%>

<!--Pozadie na kalkulackach-->
<%- include('./partials/calcAd')%>

<%- include('./partials/faq')%>

<%- include('./partials/contactForm')%>