<% layout('./layouts/boilerplate') %>


<%- include('./partials/calculator') %>

<%- include('./partials/swiper-section.ejs') %>

<%- include('./partials/offer') %>

<%- include('./partials/benefits') %>

<div class="mb-28">
    <%- include('./partials/calcAd') %>
</div>

<%- include('./partials/products') %>

<%- include('./partials/reviews') %>

<%- include('./partials/calcAd') %>

<%- include('./partials/faq') %>

<%- include('./partials/contactForm') %>