<%- layout('./layouts/form-boilerplate') %>
<section id="step1-body" class="pb-[4.5rem] md:pb-0 form-container md:my-[7rem]">
    <div class="md:w-1/5">
        <p class="form-label">Vyplnenie údajov vám zaberie <span
                    class="text-primary font-medium">menej než 6min</span></p>
        <div class="flex md:hidden text-white items-end font-light justify-center mb-[2rem]">
            <p class="md:hidden leading-none">Vyplnenie formuláru zaberie</p>
            <img src="/images/clock.svg" alt="" class="w-5 mx-2">
            <p class="text-primary leading-none">4min</p>
        </div>
    </div>
    <div class="md:grid md:grid-cols-2 md:gap-24">
        <div class="md:h-min bg-white p-6 md:px-0 md:py-[4rem] rounded-[10px] text-secondary w-full md:max-w-[665px] md:flex md:items-center md:justify-center">
            <form action="/form/step-5" method="post" class="form w-full md:max-w-[550px]">
                <div class="absolute top-[1.5rem] left-[3.5rem] flex items-center back">
                    <i class="fa-solid fa-arrow-left text-secondary/70 text-[1.25rem]"></i>
                    <span class="text-secondary/70 text-[1rem] ml-[0.5rem]">Späť</span>
                </div>
                <span class="label-default">Na aký účet vám zašleme pôžičku?</span>
                <div class="mb-[2rem] md:mb-[2.25rem] border-2 border-secondary rounded-lg grid grid-cols-2 py-2 px-3">
                    <div class="flex items-center">
                        <div class="border-2 border-secondary w-[18px] h-[18px] rounded-[100%] flex items-center justify-center cursor-pointer"
                             id="iban-radio">
                            <img src="/images/icons/radioInside.svg" alt="" class="w-[10px] hidden">
                        </div>
                        <label for="iban"
                               class="text-[0.75rem] md:text-[1rem] font-bold text-secondary/30 ml-2">IBAN</label>
                    </div>
                    <div class="border-l pl-3 flex items-center">
                        <div class="border-2 border-secondary w-[18px] h-[18px] rounded-[100%] flex items-center justify-center cursor-pointer"
                             id="standard-radio">
                            <img src="/images/icons/radioInside.svg" alt="" class="w-[10px] hidden">
                        </div>
                        <label for="standard" class="text-[0.75rem] md:text-[1rem] font-bold text-secondary/30 ml-2">Bežný
                            tvar účtu </label>
                    </div>
                </div>
                <div class="mb-[2rem] md:mb-[2.25rem] hidden iban-content">
                    <label for="iban" class="label-default">IBAN</label>
                    <div class="relative">
                        <input type="text" id="iban" class="input-default placeholder-default"
                               placeholder="SK08 0900 000000 0123123123" name="iban">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-[2rem] md:mb-[2.25rem] hidden standard-content">

                    <div class="mb-6">
                        <label for="living" class="label-default">Názov banky</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="bank">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tatra Banka, a.s.</div>
                            <div class="menu">
                                <div class="item" data-value="csob">ČSOB</div>
                                <div class="item" data-value="prima">Prima banka</div>
                                <div class="item" data-value="otp">OTP Banka</div>
                                <div class="item" data-value="postova">Poštová banka</div>
                                <div class="item" data-value="privat">Privatbanka</div>
                                <div class="item" data-value="sporitelna">Slovenská sporiteľňa</div>
                                <div class="item" data-value="tatra">Tatra banka</div>
                                <div class="item" data-value="unicredit">UniCredit Bank</div>
                                <div class="item" data-value="vub">VÚB banka</div>
                            </div>
                        </div>
                    </div>
                    <p class="label-default md:hidden">Predčíslie a číslo účtu</p>
                    <div class="grid grid-cols-2 gap-4">

                        <div>
                            <label for="predcislie" class="hidden md:block md:text-[0.875rem] font-bold md:mb-2">Predčíslie
                                účtu</label>
                            <input type="text" id="predcislie" placeholder="000000"
                                   class="input-default placeholder-default validate num-only"
                                   name="predcislie">
                        </div>
                        <div>
                            <label for="cisloUctu" class="hidden md:block md:text-[0.875rem] font-bold md:mb-2">Číslo
                                učtu</label>
                            <input type="text" id="cisloUctu" placeholder="8263748325"
                                   class="input-default placeholder-default validate num-only" name="cisloUctu">
                        </div>
                    </div>

                </div>
                <span class="label-default">Na aký účet vám zašleme pôžičku?</span>
                <div class="mb-[2rem] md:mb-[2.25rem] border-2 border-secondary rounded-lg grid grid-cols-2 py-2 px-3">
                    <input type="hidden" id="kdeZaslat">
                    <div class="flex items-center">
                        <div class="border-2 border-secondary w-[18px] h-[18px] rounded-[100%] flex items-center justify-center cursor-pointer"
                             id="post-radio">
                            <img src="/images/icons/radioInside.svg" alt="" class="w-[10px] hidden">
                        </div>
                        <label for="post" class="text-[1rem] font-bold text-secondary/30 ml-2">Poštová poukážka</label>
                    </div>
                    <div class="border-l pl-3 flex items-center">
                        <div class="border-2 border-secondary w-[18px] h-[18px] rounded-[100%] flex items-center justify-center cursor-pointer"
                             id="bank-radio">
                            <img src="/images/icons/radioInside.svg" alt="" class="w-[10px] hidden">
                        </div>
                        <label for="standard" class="text-[1rem] font-bold text-secondary/30 ml-2">Bankový
                            prevod</label>
                    </div>
                </div>

                <button class="md:mt-[2.5rem] submit-button border-2 border-dRed hover:bg-dRed hover:text-white hover:border-0 rounded-lg text-black/50 w-full max-w-[149px] md:max-w-[175px] h-[48px] md:h-[54px] flex items-center justify-center text-[1.125rem] md:text-[20px] font-bold mx-auto md:mx-0 default-transition">
                    <span>Ďalej </span>
                </button>
            </form>
        </div>
        <div class="translate-y-[560px] md:translate-y-0 bottom-nav bottom-nav-fixed bottom-nav-container md:h-[45rem] md:pb-[5rem]">
            <div class="md:hidden buttonContainer">
                <div class="bg-transparent">
                    <img src="/images/icons/mobile-up.svg" alt=""
                         class="w-full max-w-[59px] mx-auto cursor-pointer translate-y-[70%] bottom-nav-button">
                </div>
                <div class="flex flex-col h-[54px] rounded-t-[10px] bg-secondary">
                    <div class="m-auto z-40">
                        <span class="font-light leading-[17px] text-[1.125rem]">Tebou vyplnené údaje</span>
                    </div>
                </div>
            </div>
            <div class="h-[560px] md:h-full bg-secondary">
                <div class="overflow-y-auto pt-[1.5rem] md:pt-0 w-full max-w-[80%] md:max-w-full h-[490px] md:h-min mx-auto border-t md:border-0 border-white/20 flex flex-col">
                    <h2 class="form-heading1 ">Máš záujem o</h2>
                    <div class="w-full md:max-w-[420px] mb-[1.5rem] md:mb-[2rem]">
                    <span class="lg:text-[1.7rem] lg:block leading-[22px] md:leading-[36px]">pôžičku na <span
                                class="text-primary"><%= formData.calcData.money %>
                        </span></span>
                        <span class="lg:text-[1.7rem] lg:block leading-[22px] md:leading-[36px]">s dobou splácania <span
                                    class="text-primary"><%= formData.calcData.years %></span></span>
                        <span class="lg:text-[1.7rem] lg:block leading-[22px] md:leading-[36px]">a mesačnou splátkou <span
                                    class="text-primary"><%= formData.calcData.interest %> €</span></span>
                    </div>
                    <h3 class="text-[2rem] md:text-[2.5rem] mb-4">Osobné údaje</h3>
                    <div class="md:text-[1.25rem] ">
                        <div class="mb-2 flex items-center">
                            <i class="fa-solid fa-minus mr-2 md:mr-3"></i>
                            <div>
                                Volám sa <span
                                        class="text-primary"> <%= formData.contact.fName %>
                                    <%= formData.contact.lName %></span>
                            </div>
                        </div>
                        <div class="mb-2 flex items-center">
                            <i class="fa-solid fa-minus mr-2 md:mr-3"></i>
                            <div>
                                Moje rodné číslo je <span
                                        class="text-primary"><%= formData.contact.bNumber %>
                                </span>
                            </div>
                        </div>
                        <div class="mb-2 flex w-full md:max-w-[330px]">
                            <i class="fa-solid fa-minus pt-1 mr-2 md:mr-3"></i>
                            <div class="md:leading-[31px]">
                                Číslo môjho občianskeho preukazu je <span
                                        class="text-primary"><%= formData.contact.id %>
                                </span>
                            </div>
                        </div>
                        <div class="flex md:leading-[31px] w-full md:max-w-[495px] mb-[1.5rem] md:mb-[2rem]">
                            <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                            <div>
                                Možno ma kontaktovať na čísle <span
                                        class="text-primary"><%= formData.contact.phoneNum %>
                                </span>, alebo emailom
                                <span class="text-primary"><%= formData.contact.email %></span>
                            </div>
                        </div>
                        <h3 class="text-[2rem] md:text-[2.5rem] mb-4 md:leading-[44px]">Finančné údaje</h3>
                        <div class="flex md:mb-2">
                            <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                            <div class="md:text-[1.25rem] md:leading-[31px] w-full md:max-w-[315px]">
                                Som zamestnaný v <span
                                        class="text-primary"><%= formData.companyData.companyName %>
                                </span>
                            </div>
                        </div>
                        <div class="flex md:mb-2">
                            <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                            <div class="md:text-[1.25rem] md:leading-[31px] w-full md:max-w-[340px]">
                                Zamestnaný som na <span
                                        class="text-primary">dobu <%= formData.companyData.period %></span>
                                <% if (formData.companyData.period === 'určitú') { %>
                                    <% if (formData.companyData.from || formData.companyData.till){ %>
                                        od <span class="text-primary"><%= formData.companyData.from %>
                                 </span>
                                        do <span class="text-primary"><%= formData.companyData.till %>
                                </span>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="flex md:mb-[2rem]">
                            <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                            <div class="md:text-[1.25rem] md:leading-[31px] w-full md:max-w-[480px]">
                                Môj čistý mesačný príjem za 1.mesiac je <span
                                        class="text-primary"><%= formData.companyData.firstMonth %>€</span>,
                                za 2.mesiac je <span
                                        class="text-primary"><%= formData.companyData.secondMonth %>€</span>, za
                                3.mesiac je <span class="text-primary"><%= formData.companyData.thirdMonth %>€</span>.
                            </div>
                        </div>
                        <h3 class="text-[2rem] md:text-[2.5rem] md:leading-[40px] w-full md:max-w-[370px] mb-4">
                            Doplňujúce osobné údaje</h3>
                        <div class="flex md:mb-2">
                            <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                            <div class="md:text-[1.25rem] md:leading-[31px] w-full md:max-w-[495px]">
                               <span>Trvalý pobyt mám na adrese
                                   <span class="text-primary">
                                       <%= formData.customerData.personStreet %>,
                                       <%= formData.customerData.cityCustomer %>
                                       <% if (formData.customerData.pscCustomer){ %>
                                           <%= formData.customerData.pscCustomer %>
                                       <% } %>
                                       .
                                       <% if (formData.customerData.housing) { %>
                                           Bývam v <%= formData.customerData.housing %>
                                       <% } %>
                                   </span>
                               </span>
                            </div>
                        </div>
                        <% if (formData.customerData.postCity && formData.customerData.postStreet && formData.customerData.postPsc){ %>
                            <div class="flex md:mb-2">
                                <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                                <div class="md:text-[1.25rem] md:leading-[31px] w-full md:max-w-[340px]">
                               <span>Poštu ti však budeme posielať na
                                   <span class="text-primary">
                                       <%= formData.customerData.postStreet %>,
                                       <%= formData.customerData.postCity %>
                                       <%= formData.customerData.postPsc %>
                                   </span>
                               </span>
                                </div>
                            </div>
                        <% } %>
                        <% if (formData.motherSurname){ %>
                            <div class="flex md:mb-2">
                                <i class="fa-solid fa-minus md:mr-3 mr-2 pt-1"></i>
                                <div class="md:text-[1.25rem] md:leading-[31px] w-full md:max-w-[340px]">
                               <span>Rodné priezvisko matky je
                                   <span class="text-primary">
                                       <%= formData.customerData.motherSurname %>
                                   </span>
                               </span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    const standardContent = document.querySelector('.standard-content')
    const ibanContent = document.querySelector('.iban-content')

    const iban = document.querySelector('#iban-radio')
    const standard = document.querySelector('#standard-radio')

    const post = document.querySelector('#post-radio')
    const bank = document.querySelector('#bank-radio')

    let isIbanPressed = false;
    let isStandardPressed = false;

    const kdeZaslat = document.querySelector('#kdeZaslat')

    const ibanInputs = ibanContent.querySelectorAll('input')
    const standardInputs = standardContent.querySelectorAll('input')
    if (iban) {
        let ibanIcon = iban.querySelector('img')
        let standardIcon = standard.querySelector('img')
        const postIcon = post.querySelector('img')
        const bankIcon = bank.querySelector('img')

        iban.addEventListener('click', () => {
            ibanContent.classList.remove('hidden')
            standardContent.classList.add('hidden')

            ibanIcon.classList.remove('hidden')
            standardIcon.classList.add('hidden')

            iban.nextElementSibling.classList.remove('text-secondary/30')
            standard.nextElementSibling.classList.add('text-secondary/30')


            ibanInputs.forEach(i => i.classList.add('validate'))
            standardInputs.forEach(i => i.classList.remove('validate'))
        })

        standard.addEventListener('click', () => {
            standardContent.classList.remove('hidden')
            ibanContent.classList.add('hidden')

            ibanIcon.classList.add('hidden')
            standardIcon.classList.remove('hidden')

            standard.nextElementSibling.classList.remove('text-secondary/30')
            iban.nextElementSibling.classList.add('text-secondary/30')
        })

        post.addEventListener('click', () => {
            kdeZaslat.value = 'Poštová poukážka';
            postIcon.classList.remove('hidden')
            bankIcon.classList.add('hidden')
            console.log(kdeZaslat.value)
            post.nextElementSibling.classList.remove('text-secondary/30')
            bank.nextElementSibling.classList.add('text-secondary/30')

        })
        bank.addEventListener('click', () => {
            kdeZaslat.value = 'Bankový prevod';
            bankIcon.classList.remove('hidden')
            postIcon.classList.add('hidden')
            console.log(kdeZaslat.value)

            bank.nextElementSibling.classList.remove('text-secondary/30')
            post.nextElementSibling.classList.add('text-secondary/30')
        })
    }
</script>
