<% layout('./layouts/form-boilerplate') %>
<section id="step3-body" class="my-auto pb-28">
    <div class="w-1/5">
        <p class="mb-2 mt-14 text-white">Vyplnenie údajov vám zaberie menej než 8min</p>
    </div>
    <div class="grid grid-cols-2 gap-8">
        <div class="bg-white p-12 rounded-lg">
            <form action="/form/step-3" method="post" id="form3">
                <h4 class="text-xl mb-4">Na akej adrese máte trvalý pobyt?</h4>
                <div class="mb-6">
                    <label for="street">Ulica a popisné číslo</label>
                    <div class="relative">
                        <input type="text" id="street" class="input-default"
                               placeholder="Štúrová 226" name="street">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="grid grid-cols-7 gap-4">
                    <div class="mb-6 col-span-5">
                        <label for="cityCustomer" class="block">Obec</label>
                        <div class="relative">
                            <input type="text" id="cityCustomer" name="cityCustomer" class="input-default"
                                   placeholder="Bratislava">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed "></small>
                    </div>
                    <div class="col-span-2">
                        <label for="pscCustomer" class="block">PSČ</label>
                        <div class="relative">
                            <input type="text" id="pscCustomer" name="pscCustomer" class="input-default"
                                   placeholder="851 01">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed "></small>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="living">Typ bývania</label>
                    <select name="living" id="living" class="input-default">
                        <option value="rent">Najom</option>
                        <option value="house">Dom</option>
                        <option value="flat">Byt</option>

                    </select>
                </div>
                <div class="mb-12">
                    <input type="checkbox" id="otherAddress" class="rounded">
                    <label for="otherAddress">Poštu chcem dostávať na inú adresu</label>
                </div>
                <h4 class="text-xl mb-4">Pár detailov na koniec</h4>
                <div>
                    <div class="mb-6">
                        <label for="motherSurname">Rodné priezvisko matky</label>
                        <div class="relative">
                            <input type="text" id="motherSurname" class="input-default"
                                   placeholder="Skúšová" name="motherSurname">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed "></small>
                    </div>
                </div>
                <button class="border-2 border-dRed rounded-lg py-1 px-12">Dalej</button>
            </form>
        </div>
        <div class="text-white -mr-20">
            <h2 class="text-5xl mb-5">Máš záujem o</h2>
            <p class="text-[1rem]">pôžičku na <span class="text-primary"><%= formData.calcData.money %> €</span><br>
                s dobou splácania <span class="text-primary"><%= formData.calcData.years %> roky</span> <br>
                a mesačnou splátkou <span class="text-primary"><%=formData.calcData.interest %> €</span></p>
            <h3 class="text-4xl mb-2">Osobné údaje</h3>
            <div class="mb-2">
                <i class="fa-solid fa-minus"></i> Volam sa <span
                        class="text-primary"><%= formData.contact.fName %> <%= formData.contact.lName %></span>
            </div>
            <div class="mb-2">
                <i class="fa-solid fa-minus"></i> Moje rodné číslo je <span
                        class="text-primary"><%= formData.contact.bNumber %></span>
            </div>
            <div class="mb-2">
                <i class="fa-solid fa-minus"></i> Číslo môjho občianskeho preukazu je <span
                        class="text-primary"><%= formData.contact.id %></span>
            </div>
            <div class="mb-7">
                <i class="fa-solid fa-minus"></i> Možno ma kontaktovať na čísle <span
                        class="text-primary"><%= formData.contact.phoneNum %></span> alebo emailom <span
                        class="text-primary"><%= formData.contact.email %> </span>
            </div>
            <h3 class="text-4xl mb-2">Finančné údaje</h3>
            <div>
                <i class="fa-solid fa-minus"></i> Som zamestnaný v <%= formData.companyData.companyName %><br>
                IČO:<%= formData.companyData.ico %>
            </div>
            <div>
                Zamestnaný som na dobu<%= formData.companyData.period %>
            </div>
            <div>
                Môj čistý mesačný príjem za 1.mesiac je <%= formData.companyData.firstMonth %>€, za 2.mesiac
                je <%= formData.companyData.secondMonth %>, za 3.mesiac je <%= formData.companyData.thirdMonth %>.
            </div>
        </div>
    </div>
</section>
<script>
    const form3 = document.querySelector('#form3')

    const street = document.querySelector('#street')
    const customerCity = document.querySelector('#cityCustomer')
    const pscCustomer = document.querySelector('#pscCustomer')
    const motherSurname = document.querySelector('#motherSurname')

    form3.addEventListener('submit', (e) => {
        const streetValidation = validateInput(street)
        const customerCityValidation = validateInput(customerCity)
        const pscCustomerValidation = validateInput(pscCustomer)
        const motherSurnameValidation = validateInput(motherSurname)

        if (!streetValidation || !customerCityValidation || !pscCustomerValidation || !motherSurnameValidation) {
            e.preventDefault()
        }
    })

    const validateInput = (input) => {
        const inputValue = input.value.trim();
        if (!inputValue) {
            setErrorFor(input)
            return false
        } else {
            setSuccessFor(input)
            return true
        }
    }
    const setErrorFor = (input, msg = "Pole je nevyplnene") => {
        const parent = input.parentElement
        const icon = parent.querySelector('i')
        icon.classList.remove('fa-check')
        icon.classList.add('fa-xmark')
        icon.classList.remove('text-transparent')
        icon.classList.remove('text-green-400')
        icon.classList.add("text-dRed")

        const div = parent.parentElement
        div.classList.remove('mb-6')
        div.classList.add('mb-3')

        const small = div.querySelector('small')
        small.innerText = msg
        input.className = "input-danger"
    }

    const setSuccessFor = (input) => {
        const parent = input.parentElement
        const icon = parent.querySelector('i')
        icon.classList.remove('fa-xmark')
        icon.classList.add('fa-check')
        icon.classList.remove('text-transparent')
        icon.classList.remove('text-dRed')
        icon.classList.add("text-green-400")

        const div = parent.parentElement
        div.classList.remove('mb-6')
        div.classList.add('mb-3')

        const small = div.querySelector('small')
        small.innerText = " "
        input.className = "input-default"
    }
</script>